.bold-text {
    font-weight: 500;
}

.help-modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80%;
    max-width: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.example-image {
    width: 100%;
}